<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Star Wars Quotes</title>
  </head>
  <body>
    <h1>May Node and Express be with you.</h1>
    <form id="submit-quotes-form" action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
      <h2>Quotes</h2>
      <ul class="quotes">
        <% for (let i = 0; i < quotes.length; i++) {%>
        <li class="quote">
          <span><%= quotes[i].name %></span>:
          <span><%= quotes[i].quote %></span>
        </li>
        <% } %>
      </ul>
    </form>
    <div>
      <h2>Darth Vader Invades!</h2>
      <p>Replace first Yoda's quote with a quote written by Darth Vader</p>
      <button id="update-button">Replace Yoda's Quote</button>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
